[submodule "hiddify-sing-box"]
	path = hiddify-sing-box
	url = https://github.com/truvvor/hiddify-sing-box.git
	branch = antidpi
[submodule "ray2sing"]
	path = ray2sing
	url = https://github.com/hiddify/ray2sing.git
